<div class="form-group">
  <input class="m-control" placeholder="search" autocorrect="on" autocapitalize="off" spellcheck="off"
    (keydown.enter)="$event.preventDefault()" #search type="text">
</div>

<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window>
      <strong>{{ address?.LongLabel }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

<hr>

<div>lat: {{lat}}</div>
<div>lng: {{lng}}</div>
<div>address: {{address}}</div>